# Formas de Seleção

In [1]:
import pandas as pd

In [2]:
data = [(1,2,3,4),(5,6,7,8),(9,10,11,12),(13,14,15,16)]

In [5]:
df = pd.DataFrame(data, 'L1 L2 L3 L4'.split(), 'C1 C2 C3 C4'.split())

In [6]:
df

    C1  C2  C3  C4
L1   1   2   3   4
L2   5   6   7   8
L3   9  10  11  12
L4  13  14  15  16

In [9]:
df[['C3','C1']]

    C3  C1
L1   3   1
L2   7   5
L3  11   9
L4  15  13

In [12]:
df[1:3]

    C1  C2  C3  C4
L2   5   6   7   8
L3   9  10  11  12

In [13]:
df[1:3][['C3', 'C1']]

    C3  C1
L2   7   5
L3  11   9

In [14]:
df.loc['L3']

C1     9
C2    10
C3    11
C4    12
Name: L3, dtype: int64

In [15]:
df.loc[['L3', 'L2']]

    C1  C2  C3  C4
L3   9  10  11  12
L2   5   6   7   8

In [16]:
df.loc['L1', 'C2']

2

In [17]:
df.iloc[0,1]

2